/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Nov 13, 2023, 1:41:10 AM
    Author     : Admin
*/

/* body{
    background-color: #efefef;
} */
.container-profile{
    position: sticky;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 330px;
    display: block;
    justify-content: center;
  
    padding: 13px 5%;
    /* border: solid 1px #ff7f50; */
    width: 800px;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 2%;
}
.profile-top{
   position: relative;
    padding: 15px 15px;
    display: flex;
    justify-content: center;
    background-color: beige; 
    margin-top: 50px;
    margin-bottom: 20px;
    height: 45%;
    flex-wrap: wrap;
    border-radius: 10px;
    
}
.profile-avatar{
    flex-basis: 30%;
    height: 160px;
    /* border: 1px solid #ff7f50; */
    float: left;
    background-color: beige;
    
}
.profile-avatar img{
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    

}

.profile-right-block{
    flex-basis: 60%;
    height: 80%;
    background-color: beige;
    display: block;
}
.profile-user-settings{
    
    padding: 0px;
    
    justify-content: end;
    height: 30%;
    margin-top: 5%;
     background-color: beige; 
}
.profile-user-name{
    margin-top: 0px;
    margin-right: 10px;
    background-color: beige;
    height: 30px;
    /* background-color: #ff7f50; */
    font-family: 'Karla', sans-serif;
}
.profile-user-name h1{
   margin-top: 0px;   
   flex-wrap: wrap;
}

.btn-profile-edit{
    float: left;
    margin-top: -48%;
    border: none;
    font-weight: bolder;
    height: 30px;
    padding: 0 20px;
    border-radius: 10px;
    
    margin-top: -13%;
    margin-right: 65%;
}
.btn-profile-edit:hover{
    cursor: pointer;
}
.btn-profile-edit:active{
     opacity: 0.5;  
    filter: alpha(opacity=50);
}
.profile-user-status{
    height: 30%;
    display: flex;
    justify-content: space-between;
    margin-top:-5%;
    margin-right: 55%;
    /* background-color: burlywood; */
}

.profile-user-status p:active{
    opacity: 0.5;  
    filter: alpha(opacity=50);
}

.profile-user-status span{
    font-weight: bold;
}
.profile-user-status p:hover{
    cursor: pointer;
}
.full-name-user{
    background-color: #41db51;   
    align-self: flex-start;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    flex-basis: 90%;  
/*    flex-grow: 0;*/
    height: 100px;
 
}
.profile-mid{
    /* background-color: chartreuse; */
    justify-content: center;
    display: block;
   
    flex-wrap: wrap;
}
.profile-mid ul{
    padding-left: 0;
}
.profile-navtab{
    /* background-color: rgb(78, 144, 24); */
    display: flex;
    list-style: none;
    justify-content: flex-start;
    height: 5%;
    margin-left: 0;

}

.profile-navtab li{
    display: flex;
    padding: 4px 15px;  
    height: 40px;
    margin-right: 10px;
    margin-top: 10px;
    width: auto;
    background-color: #e7d677;
    justify-content: center;
    border-radius: 20px;
   
}
.profile-navtab li:active{
    opacity: 0.5;  
    filter: alpha(opacity=50);
}


.profile-navtab li.selected{
    background-color: #00C6FF;
    
}

.profile-navtab li:hover{
    cursor: pointer;
    transition: width 1s ease-in-out;
    /* background-color: aqua; */
  
}

.profile-navtab li a{
    /* background-color: aquamarine; */
    color: black;
    height: 30px;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    
}
/* .profile-navtab li :focus{
    background-color: rgb(101, 68, 221);
    font-weight: bolder;
} */
.content{
    min-height: 500px;
    margin-top: 30px;
}

#all-picture-choose{
    font-weight: bolder;
}

.user-all-post {
    width: 100%;
    display: block;
}
.user-all-post img{
    width: 300px;
    height: 300px;
    
}
.user-all-picture{
    width: 100%;
    background-color: rgb(43, 168, 226);
    display: none;
  
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.3s;*/
} 
.user-all-picture img{
    width: 300px;
    height: 300px;
    background-color: rgb(215, 133, 25);
}
/* .user-all-picture-toggle{
    height: 400px;
    background-color: antiquewhite;
} */

.wrap-friend{
    height: 100%;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    display: none;
    z-index: 10;
	background:rgba(0,0,0,0.6);
}

.all-friend-show{
    height: 500px;
	width: 1000px;
	border: slategray solid 3px;
	background-color: #fff;
	margin: 130px auto;	
	padding: 50px 20px 20px;
	z-index: 20;
	box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
#btn-close-friend{
    position: absolute;
	right: 15px;
	top: 0px;
	font-size: 40px;
	background-color: transparent;
	cursor: pointer;
    border: none;
}
#btn-close-friend:hover{
    color: rosybrown;
}

.profile-form {
     margin-top: 10px;
     margin-bottom: 10px;
}
#hoso {
    margin-top: 5px;
   list-style-type: none;
}

#khoangcach1{
    margin-left: 60px
}
#khoangcach2{
    margin-left: 69px;
}
#khoangcach3{
 
}

.wrap-info{
    padding: 15px 30px;
    margin-top:10px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    right: 0;
    overflow-y:scroll;
    border: 1px solid #9a9a9a;
}
.info-item{
    display: flex;
    background-color: #6CA6CD;
    flex-basis: 48%;
    border: 1px solid black;
    border-radius: 15px;
    margin-top: 20px;
    padding: 10px 10px;
}
.avatar-friend{
   width: 80px;
   height: 80px;
   border-radius: 15px;
   margin-right: 10px;
}
/* chitietsanpham */
/* .wrap{
    height: 100%;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    display: none;
    z-index: 10;
	background:rgba(0,0,0,0.6);
} */


#load_message{
    font-size: 100%;
    width: 100%;        
}
#load_message button{
    border: none;
    border-radius: 12px;
    font-size: 100%;
    background: #fff; 
}

.profile-introduce{
    flex-basis: 100%;
    margin-right: -70%;
    margin-top: -20%;
    
}
#newForm{
    
  padding: 10px 100px;
  margin-left: 18%;
  margin-top: -25%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 64%;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
  transition: height 0.2s ease;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
}


#btn-edit{
    display: flex;
    justify-content: space-between;
}
#btn1{
    background-color: red;
    float: left;
    width: 100px;
}
#btn2{
    background-color:green;
    float: right;
    width: 100px;
}
